<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <div class="card-body card-header text-center text-capitalize">
                    <h4 i18n>You are signed out</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <p i18n>Thank you for visiting. Hope you'll return soon.</p>
                            
                            

                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <p i18n>
                                <a routerLink="/verify"><i class="fa fa-sign-in  fa-3x" aria-hidden="true"></i></a> <br>Sign  In
                            </p>
                        </div>
                        <div class="col text-center">
                            <p i18n>
                                <a routerLink="/"><i class="fa fa-flask fa-3x" aria-hidden="true"></i></a> <br>Register Kit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-latest-posts></app-latest-posts>
        </div>
    </div>
</div>