<form #dataForm="ngForm" (ngSubmit)="onSubmit(dataForm)">
    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="card m-3">
                    <div class="card-header" i18n>Date of Birth</div>
                    <div class="card-body">

                        
                                <div *ngIf="user" class="form-group m-2"> <label for="dob" i18n>Date of
                                        Birth</label>

                                    <input [(ngModel)]="user.dob" id="dob" name="dob" tabindex="3"
                                        autocorrect="off" autocapitalize="off" spellcheck="off" autocomplete="off"
                                        class="form-control form-control-lg" type="date" required>

                                </div>

</div>



                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group form-actions">
                    <button type="button" class="Button Button--primary mr-3" (click)="back()" i18n>Back</button>

                    <button type="submit" tabindex="13" class="Button Button--primary"
                        [disabled]="!dataForm.form.valid">Update <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>    

        </div>        
    </div>
</form>

<br>
<div class="text-center"  *ngIf="!production">
    <i class="fa fa-toggle-off" aria-hidden="true" [hidden]="toggleDisplay" (click)="toggleDiagnostic()"
        style="cursor: pointer"></i>
    <i class="fa fa-toggle-on" aria-hidden="true" [hidden]="!toggleDisplay" (click)="toggleDiagnostic()"
        style="cursor: pointer"></i>
</div>

<div id="diagnostic" [ngStyle]="{'display': diagDisplay}" *ngIf="!production">
    <h4>User</h4>
    <pre class="text-light bg-dark p-4">{{user | json}}</pre>
    <hr>
    <h4>ID</h4>
    <pre class="text-light bg-dark p-4">{{uid | json}}</pre>
</div>