<div class="container-fluid"
     *ngIf="isAdmin else unauthorized">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center"></div>
    <div class="col-1 text-right"><a routerLink="/sign-out"><i class="fa fa-sign-out fa-2x"
           aria-hidden="true"></i> Sign Out</a></div>
  </div>
  <div class="row  mb-3">
    <div class="col">
      <app-dashboard [box]="box"
                     [data]="salesData"
                     [labels1]="labels1"
                     [labels2]="labels2"
                     [labels3]="labels3"></app-dashboard>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md text-center"><a routerLink="/admin/users"><i class="fa fa-users fa-2x"
           aria-hidden="true"></i> Notch Users</a> </div>
    <div class="col-md text-center"><a routerLink="/admin/invalid-orders"><i class="fa fa-times-circle-o fa-2x"
           aria-hidden="true"></i> Invalid Orders</a></div>
    <div class="col-md text-center"><a routerLink="/profiles/{{uid}}"><i class="fa fa-user fa-2x"
           aria-hidden="true"></i> My Profile</a></div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-md-12 mt-3 mb-3">
      <div class="card">
        <div class="products-widget">
          <div class="card-header pb-3">
            <div class="heading">Recent Activity <div class="pull-right header-tool">
                <a [ngClass]="{'active' : (currentDataDisplay === '')}"
                   (click)="showCurrentData()"
                   style="cursor: pointer;">Today</a> &nbsp; | &nbsp; <a
                   [ngClass]="{'active' : (pastDataDisplay === '')}"
                   (click)="showPastData()"
                   style="cursor: pointer;">Yesterday</a> &nbsp; | &nbsp; <input [(ngModel)]="queryDate"
                       name="queryDate"
                       id="queryDate"
                       type="date"
                       class="form-control-sm"
                       (change)="labOrderByDate()">
              </div>
            </div>
          </div>
          <div class="table-responsive"
               [ngStyle]="{'display' : currentDataDisplay}">
            <div class="text-center mt-2"
                 *ngIf="(data1 && data1.length == 0)"> Nothing to report today. </div>
            <table class="table table-hover"
                   id="sixteenStatWidget12-1">
              <tr *ngFor="let item of data1; let i = index">
                <td> {{item['kit_label']}} </td>
                <td class="text-capitalize"> {{item['patient-fname'] | sentence}} {{item['patient-lname'] | sentence}}
                </td>
                <td>
                  <div *ngIf="item.notch_name">{{item.notch_name}}</div>
                </td>
                <td>{{item.updated_at | date : 'short'}}</td>
                <td>
                  <span class="badge badge-boxed"
                        [ngClass]="{'badge-dark' : (item['status'] == '10'), 'badge-primary' : (item['status'] == '2'), 'badge-light' : (item['status'] == '0'), 'badge-success' : ((item['status'] == '22') || (item['status'] == '999')), 'badge-warning' : ((item['status'] == '14') || (item['status'] == '1')), 'badge-info' : (item['status'] == '11'), 'badge-danger' : ((item['status'] == '9') || (item['status'] == '900'))}">{{item.status
                    | status}}</span>
                </td>
                <td class="action">
                  <button class="btn btn-primary btn-sm"
                          (click)="showMoreDetails(item)">
                    <i class="fa fa-ellipsis-h"
                       aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div class="table-responsive"
               [ngStyle]="{'display' : pastDataDisplay}">
            <div class="text-center mt-2"
                 *ngIf="(data2 && data2.length == 0)"> Nothing to report yesterday. </div>
            <table class="table table-hover"
                   id="sixteenStatWidget12-2">
              <tr *ngFor="let item of data2; let x = index">
                <td> {{item['kit_label']}} </td>
                <td class="text-capitalize"> {{item['patient-fname'] | sentence}} {{item['patient-lname'] | sentence}}
                </td>
                <td>
                  <div *ngIf="item.notch_name">{{item.notch_name}}</div>
                </td>
                <td>{{item['date-received'] | date : 'short'}}</td>
                <td>
                  <span class="badge badge-boxed"
                        [ngClass]="{'badge-dark' : (item['status'] == '10'), 'badge-primary' : (item['status'] == '2'), 'badge-light' : (item['status'] == '0'), 'badge-success' : ((item['status'] == '22') || (item['status'] == '999')), 'badge-warning' : ((item['status'] == '14') || (item['status'] == '1')), 'badge-info' : (item['status'] == '11'), 'badge-danger' : (item['status'] == '9')}">{{item.status
                    | status}}</span>
                </td>
                <td class="action">
                  <button class="btn btn-primary btn-sm"
                          (click)="showMoreDetails(item)">
                    <i class="fa fa-ellipsis-h"
                       aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div class="table-responsive"
               [ngStyle]="{'display' : queryDateDisplay}">
            <div class="text-center mt-2"
                 *ngIf="(data3 && data3.length == 0)"> Nothing to report on this date {{queryDate}}. </div>
            <table class="table table-hover"
                   id="sixteenStatWidget12-3">
              <tr *ngFor="let item of data3; let x = index">
                <td> {{item['kit_label']}} </td>
                <td class="text-capitalize"> {{item['patient-fname'] | sentence}} {{item['patient-lname'] | sentence}}
                </td>
                <td>
                  <div *ngIf="item.notch_name">{{item.notch_name}}</div>
                </td>
                <td>{{item['date-received'] | date : 'short'}}</td>
                <td>
                  <span class="badge badge-boxed"
                        [ngClass]="{'badge-dark' : (item['status'] == '10'), 'badge-primary' : (item['status'] == '2'), 'badge-light' : (item['status'] == '0'), 'badge-success' : ((item['status'] == '22') || (item['status'] == '999')), 'badge-warning' : ((item['status'] == '14') || (item['status'] == '1')), 'badge-info' : (item['status'] == '11'), 'badge-danger' : (item['status'] == '9')}">{{item.status
                    | status}}</span>
                </td>
                <td class="action">
                  <button class="btn btn-primary btn-sm"
                          (click)="showMoreDetails(item)">
                    <i class="fa fa-ellipsis-h"
                       aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3 mb-3">
      <div class="card">
        <div class="card-header pb-3">Need Attention <span class="text-danger">({{labOrderNeedAttention?.length}} Past
            Due)</span></div>
        <div class="card-body">
          <div class="container-fluid"
               *ngIf="labOrderNeedAttention.length > 0">
            <div class="row">
              <div class="col-md font-weight-bold">Name</div>
              <div class="col-md font-weight-bold">Order #</div>
              <div class="col-md font-weight-bold">Shopify #</div>
              <div class="col-md font-weight-bold">Test Ordered</div>
              <div class="col-md font-weight-bold">Date Received</div>
              <div class="col-md font-weight-bold">Status</div>
            </div>  
            <div class="row"><div class="col"><hr></div> </div> 
            <div class="row list-group-item-action"
                 *ngFor="let l of labOrderNeedAttention"
                 (click)="showMoreDetails(l)"
                 style="height: 96%; cursor: pointer;">

              <div class="col-md text-capitalize">
                <h6 class="alert-heading">{{l['patient-fname'] | sentence}} {{l['patient-lname'] | sentence}}</h6>
              </div>
              <div class="col-md">{{l?._id}}</div>
              <div class="col-md">{{l?.order?.name}}</div>
              <div class="col-md">
                <div *ngIf="l.order && l.order.line_items && l.order.line_items.length && (l.order.line_items.length > 0)">
                  <div *ngFor="let li of l.order.line_items">
                    <strong>SKU: </strong> <span class="text-danger">{{li?.sku}}</span><br>
                    <strong>Title: </strong> {{li?.title}}
                    <br>
                  </div>
                </div>
              </div>
              <div class="col-md"> <span *ngIf="(l['date-received'] | typeof) === 'number'">{{l['date-received'] |
                  date}}</span>
                <span *ngIf="(l['date-received'] | typeof) != 'number'">{{l['date-received']}}</span>
              </div>
              <div class="col-md">{{l?.status | status}}</div>
            </div>
          </div>
          <div *ngIf="labOrderNeedAttention.length == 0"> Nothing to report </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6  mt-3 mb-3">
      <div class="card">
        <div class="card-header">Orders By Type ({{this.box[0].count1}})</div>
        <canvas id="diary-chart"
                class="chart-canvas"></canvas>
      </div>
    </div>
    <div class="col-md-6 mt-3 mb-3">
      <div class="card">
        <div class="card-header">Lab Orders By Status ({{totalLabOrders}})</div>
        <canvas id="status-chart"
                class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
</div>
<ng-template #unauthorized>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="alert alert-danger"
             role="alert">
          <h1 class="alert-heading"><i class="fa fa-lock"
               aria-hidden="true"></i> Unauthorized!</h1>
          <p>You do not have the property security settings to be here.</p>
          <hr>
          <h2 class="mb-0">{{ipAddress}}</h2>
        </div>
      </div>
    </div>
  </div>
</ng-template>