<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <i class="fa fa-cog fa-spin fa-5x fa-fw text-theme"></i>
            </div>

            <div class="text-center mt-5"><h1>Under Maintenance</h1></div>
            <div class="small text-center text-dark"> Working on it! </div>

            <div class="text-center mt-5">
                <button (click)="back()" class="Button Button--primary">Go Back</button>
            </div>
        </div>
    </div>
</div>