<section class="section section--home" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="home">
                    <div class="row">
                        <div class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-5">
                            <div class="home__content">
                                <h1 class="home__title">Coronavirus<br> Medical Prevention</h1>
                                <p class="home__text">BeHealthy is a good choice for all medical facilities, online pharmacy, raise awareness of (2019-nCoV). Template is optimized and fully responsive.</p>
                                <button href="#" class="Button Button--primary">PROTECT MYSELF</button>
                            </div>
                        </div>
                    </div>		
                </div>
            </div>
        </div>
    </div>
</section>