<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <section class="container-server-errors">
                <div class="server-errors pages-card">
                    <div class="status-text-1">Fail <i class="fa fa-frown-o" aria-hidden="true"></i></div>
                    <div class="status-error hertbit"><i class="fa fa-lock" aria-hidden="true"></i></div>
                    <div class="text-center status-text-2 text-dark" i18n>Email address could not be verified. </div>
                    <div class="text-center mt-3"> <button style="cursor: pointer;" (click)="onRetry()"
                            class="Button Button--primary" i18n>Retry</button> </div>
                    <div class="text-center mt-3"> <small i18n>Return 
                            <a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Home </a>
                        </small> </div>
                </div>
            </section>
        </div>

    </div>
</div>