<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center text-capitalize">
                    <h4 i18n>Your test is Activated!</h4>
                </div>
                <div class="card-body">
                    <div class="row mt-5">
                        <div class="col text-center">
                            <p i18n>You can collect your sample now.</p>
                            <p i18n>For instructions on how to collect your blood sample, please view the video below:</p>
                            <p> <button class="Button Button--primary"
                                        (click)="onProfile()" i18n>View Your Profile</button>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 embed-responsive-item">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/F4QYGhdXNnQ?controls=0&amp;start=32" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>