<div class="card" *ngIf="loading else spinner">
    <div class="card-header">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter"></i></span>
            </div>

            <input [(ngModel)]="filteredData" type="text" class="form-control form-control-lg"
                placeholder="Type to filter results">
        </div>
    </div>
    <div class="sales-list" id="orderList">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Name</th>
                    <th>Kit Number</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataService.items | async | kitActivationFilter:filteredData | sortByLastName; let i = index" (click)="onView(data)"
                    style="cursor: pointer;">
                    <td> <span *ngIf="data.orders && data.orders && data.orders.id">{{data.orders.id}} </span>
                    </td>
                    <td>{{data?.firstName}} {{data?.lastName}}</td>
                    <td>{{data?.kitNumber}}</td>
                    <td><span *ngIf="data.status"
                            [ngClass]="{'badge-dark' : (data.status == '10'), 'badge-primary' : (data.status == '2'), 'badge-light' : (data.status == '0'), 'badge-success' : ((data.status == '22') || (data.status == '999')), 'badge-warning' : ((data.status == '14') || (data.status == '1')), 'badge-info' : (data.status == '11'), 'badge-danger' : (data.status == '9')}"
                            class="badge badge-boxed">{{data?.status | status}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #spinner>
    <div class="loader">
        <div class="loader-inner">
            <div class="spinner-eff spinner-eff-4">
                <div class="bar bar-top"></div>
                <div class="bar bar-right"></div>
                <div class="bar bar-bottom"></div>
                <div class="bar bar-left"></div>
            </div>
        </div>
    </div>
</ng-template>