<div class="container-fluid" *ngIf="isAdmin else unauthorized">
    <div class="row">
        <div class="col-1"><a routerLink="/admin" title="Exit"><i class="fa fa-chevron-left fa-2x top-left" aria-hidden="true"></i>
            </a> </div>
        <div class="col-10 text-center">
            <h2>Customers</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col">
            <notch-widget-totals [countText1]="'Total Customers'" [countText2]="'Verified'" [countText3]="'Paying'"
                [countText4]="'Accepts Marketing'" [count1]="count1" [count2]="count2" [count3]="count3"
                [count4]="count4"></notch-widget-totals>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 no-print">
            <app-customer-list (id)="onView($event)" (count1)="onCount1($event)" (count2)="onCount2($event)"
                (count3)="onCount3($event)" (count4)="onCount4($event)"></app-customer-list>
        </div>
        <div class="col-md-6">
            <img *ngIf="!data" src="assets/process/Notch_Process_Ico01 _Ship_Package_Lght.svg" alt="" class="img-fluid">
            <app-customer-view [data]="data"></app-customer-view>
        </div>
    </div>
</div>
<ng-template #unauthorized>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    <h1 class="alert-heading"><i class="fa fa-lock" aria-hidden="true"></i> Unauthorized!</h1>
                    <p>You do not have the property security settings to be here.</p>
                    <hr>
                    <h2 class="mb-0">{{ipAddress}}</h2>
                </div>
            </div>
        </div>
    </div>
</ng-template>