<section class="section" id="catalog">
    <div class="container">
        <div class="row">
            <div class="col-12 home">
                <!-- section title -->
                <h2 class="section__title">Catalog</h2>
                <!-- end section title -->

                <!-- section sort -->
                <div class="section__sort">
                    <button :class="{ active: currentFilter === 'all' }" (click)="setFilter('all')" type="button">All</button>
                    <button :class="{ active: currentFilter === 'cat1' }" (click)="setFilter('cat1')" type="button">Medical masks</button>
                    <button :class="{ active: currentFilter === 'cat2' }" (click)="setFilter('cat2')" type="button">Antiseptics</button>
                    <button :class="{ active: currentFilter === 'cat3' }" (click)="setFilter('cat3')" type="button">Medical gloves</button>
                    <button :class="{ active: currentFilter === 'cat4' }" (click)="setFilter('cat4')" type="button">Drugs</button>
                </div>
                <!-- end section sort -->
            </div>
        </div>

        <!-- grid -->
        <div name="fadex" class="row row--grid" tag="div">
            <div class="col-12 col-sm-6 col-lg-4" *ngFor="let item of items">
                <div class="product" *ngIf="currentFilter === item.category || currentFilter === 'all'">
                    <div class="product__img">
                        <img src="item?.image" alt="">
                    </div>
                    <h3 class="product__title">{{ item?.title }}</h3>
                    <span class="product__price">{{ item?.price | currency }}</span>
                    <button (click)="addToCart(item)" class="product__add" type="button">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- grid -->
    </div>
</section>