<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <section class="container-server-errors">
                <div class="server-errors pages-card">
                    <div class="status-text-1" i18n>Fail <i class="fa fa-frown-o" aria-hidden="true"></i></div>
                    <div class="status-error hertbit"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
                    <div class="text-center status-text-2 text-dark" i18n>Sorry, an unknown error occurred.</div>
                    <div class="text-center mt-3" (click)="back()" style="cursor: pointer;"> <small i18n>Return 
                            
                        </small> </div>
                </div>
            </section>
        </div>

    </div>
</div>