<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <section class="container-server-errors">
                <div class="server-errors pages-card">
                    <div class="status-text-1"><i class="fa fa-frown-o" aria-hidden="true"></i></div>
                    <div class="status-error hertbit" i18n>SORRY!</div>
                    <div class="text-center status-text-2 text-dark" i18n>We're having trouble activating this Test Kit. Please check the Test Kit ID and try again or contact customer care at 1-800-456-4325. </div>
                    <div class="text-center mt-3"> <button (click)="onRetry()" class="Button Button--primary" i18n>Retry</button>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>