<div class="card">
    <div class="card-header">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter"></i></span>
            </div>

            <input [(ngModel)]="filteredData" type="text" class="form-control form-control-lg"
                placeholder="Type to filter results">
        </div>
    </div>
    <div class="sales-list" id="orderList">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataService.items | async | userFilter:filteredData | sortByLastName; let i = index" (click)="onView(data)"
                    style="cursor: pointer;">
                    <td>{{data?._id}}</td>
                    <td class="text-capitalize">{{data?.firstName | sentence}} {{data?.lastName | sentence}}</td>
                    <td>{{data?.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>