<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <div class="card-body">
                    <h5 class="card-title p-3 text-uppercase">
                        {{settingsServie.settings.name}}</h5>
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold"><i class="fa fa-shopping-cart d-lg-none"
                                    aria-hidden="true"></i><span class="d-none d-lg-block">
                                    Accept Payment</span></span>
                            <span class="text-secondary">
                                <ui-switch [(ngModel)]="settingsServie.settings.payment" size="small"></ui-switch>
                            </span>
                        </li>
                        <li *ngIf="settingsServie.settings.payment" class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold"><i class="fa fa-id-card d-lg-none"
                                    aria-hidden="true"></i><span class="d-none d-lg-block">
                                    Payment Gateway</span></span>
                            <span class="text-secondary"><a (click)="onPaymentGateway()" style="cursor: pointer;"><i
                                        class="fa fa-chevron-right fa-1x"></i></a> </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold"><i class="fa fa-id-card d-lg-none"
                                    aria-hidden="true"></i><span class="d-none d-lg-block">
                                    Display Name</span></span>
                            <span class="text-secondary"><a (click)="onDisplayName()" style="cursor: pointer;"><i
                                        class="fa fa-chevron-right fa-1x"></i></a> </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold">Logo</span>
                            <span class="text-secondary"> <a (click)="onLogo()" style="cursor: pointer;"><i
                                        class="fa fa-chevron-right fa-1x"></i></a></span>
                        </li>
]                   </ul>
                </div>
                <div class="row" *ngIf="!settingsServie.settings">
                    <div class="col text-center mb-5">
                        <a class="btn btn-primary btn-lg" routerLink="/">Return</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>